---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('January 30 2024')}
  heroImage="https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
>
  <p>
    I'm a passionate web developer advocate. Always attentive to the latest trends in software
    development, UX/UI, Accessibility, QA or web design. I seek to continue learning day by day to
    offer a versatile, resilient profile aimed at achieving successful objectives.
  </p>

  <p>
    I currently work as a Software Engineer at IKEA, specifically in the Digital Hub located in San
    Sebastián de los Reyes, Madrid. Known as Madhult, the Hub encompasses different global
    development initiatives at IKEA, in my case, IKEA for Business. In this project we are
    analyzing, studying and solving the problems of our clients who buy for their companies.
  </p>

  <p>We are using several technologies:</p>
  <ul>
    <li>React</li>
    <li>Sass</li>
    <li>Vitest and Jest</li>
    <li>Vite and Webpack</li>
    <li>Storybook</li>
    <li>Eslint, Prettier, Husky, etc.</li>
    <li>Node JS</li>
    <li>Express</li>
    <li>Javascript and Typescript</li>
    <li>Git and Github</li>
    <li>CI/CD, Github Actions</li>
    <li>Infrastracture as Code with Terraform</li>
    <li>GCP</li>
    <li>Agile Methodologies</li>
  </ul>

  <p>
    In my previous experience, I have worked as a frontend developer for ING 🦁 in the offices of
    Las Rozas, Madrid. The project was called ING Model Bank where work was done on a new
    multi-country banking platform that would allow its use in all the countries of the ING Group.
    For this, cutting-edge technologies based on web standards, Polymer, Web Components, ES6, CSS
    Custom Properties, CSS Grid, among others, were used. For more information, go to the projects
    section.
  </p>

  <p>
    In previous projects I have played other fullstack technologies such as the Front Backbone and
    Marionette, JQuery (JavaScript), Stylus (CSS) or Gulp; in the REST back API with Spring MVC,
    JSF, Facelets, JSTL (Java), JBoss, (Eclipse, STS), MySQL (PL / SQL), under agile methodologies
    and BBD (Concordion and Selenium). Before that, I did a training internship with JavaScript
    technologies like the MEAN Stack (Mongo DB, Express, Angular JS and Node JS) and Polymer in
    Babel.
  </p>

  <p>
    I have lived in different places and countries so I enjoy meeting new people and cultures. I
    love sports and healthy habits too.
  </p>
</Layout>
