---
import BaseHead from '../components/BaseHead.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { SITE_DESCRIPTION } from '../consts';
import { getPageTitle } from '../utils/title';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={getPageTitle()} description={SITE_DESCRIPTION} />
    <style>
    header {
      display: flex;
      justify-content: flex-end;
      margin: 1rem;
    }

    figure {
      margin: 0 0 1em 0;
    }

    figure img {
      border-radius: 100%;
      width: 200px;
      aspect-ratio: 1;
      object-fit: cover;
    }
    </style>
  </head>
  <body>
    <header>
      <ThemeToggle />
    </header>
    <main>
      <h1>Hola! I'm Marcos Gil</h1>
      <p>Welcome to my personal space on the internet.</p>
      <p>
        I'm a software engineer based in Madrid, Spain, currently working at <a
          href="https://www.IKEA.com/"
          target="_blank"
          rel="noopener noreferrer"
        >IKEA</a>.
      </p>
      <p>Look.</p>
      <p>
        Here, I share my thoughts, experiences, and insights on software development and beyond.
        Join me as we explore the world together.
      </p>
      <p>
        Currently, I'm digging into the AI world, I'm using it heavily for programming and I'm investigating the agents landscape.
      </p>
      <p>Now that you are here, you can learn more about me in:</p>
      <nav>
        <ul>
          <li>
            <a href="/blog">My blog</a>
          </li>
          <li>
            <a href="/about">About page</a>
          </li>
        </ul>
      </nav>
      <figure>
        <img src="/marcos-gil-profile.jpg" alt="Profile photo of Marcos Gil" />
      </figure>
    </main>
  </body>
</html>
