---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .profile {
        border-radius: 100%;
        width: 200px;
        aspect-ratio: 1;
        max-inline-size: 100%;
        block-size: auto;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <main>
      <img class="profile" src="/marcos-gil-profile.jpg" alt="" />
      <h1>Hi! I'm Marcos Gil</h1>
      <p>
        Welcome to my personal space on the internet. I'm a software engineer based in Madrid,
        Spain, currently working at <a href="https://www.IKEA.com/">IKEA</a>.
      </p>
      <p>
        Here, I share my thoughts, experiences, and insights on software development and beyond.
        Join me as we explore the world together.
      </p>
      <p>Now that you are here, you can learn more about me in:</p>
      <nav>
        <ul>
          <li>
            <a href="/blog">My blog</a>
          </li>
          <li>
            <a href="/about">About me</a>
          </li>
          <li>
            <a href="https://twitter.com/marcosgilf" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/marcosgilf" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/marcosgilfernandez/?locale=en_US" target="_blank"
              >LinkedIn</a
            >
          </li>
        </ul>
      </nav>
    </main>
  </body>
</html>
