---
import SocialIcons from './SocialIcons.astro';

const today = new Date();
---

<footer>
  <p>© 2024-{today.getFullYear()} Marcos Gil.</p>
  <p>Made in Spain 🇪🇸</p>
  <SocialIcons />
</footer>
<style>
footer {
  padding: 2em 1em 6em 1em;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  text-align: center;
}

footer p {
  margin: 0;
}
</style>
